# Postgres (Prisma)
DATABASE_URL="postgresql://facturia:facturia@127.0.0.1:5433/facturia?schema=public"

# MongoDB (official driver)
MONGODB_URI="mongodb://facturia:facturia@127.0.0.1:27017/?authSource=admin"
MONGODB_DB="facturia"
